@import "tailwindcss";

@theme {
  --color-background: #F8F9FA;
  --color-foreground: #1A1E24;
}

:root {
  --background: #F8F9FA;
  --foreground: #1A1E24;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
